<!-- app/views/export_users_and_messages_mailer/perform.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Export of New Users and Messages</h1>
    <p>Please find the attached files for the export of new users and messages.</p>
    <p>Timestamp: <%= Time.zone.today %></p>
  </body>
</html>